body {
  background-color: #F1F2F2;
  font-family: 'PT Sans', sans-serif;
}

.top, .bottom {
  width: 100%;
  height: 8px;
  background-color: white;
  position: fixed;
  z-index: 9999;
}

.left, .right {
  width: 8px;
  height: 100%;
  background-color: white;
  position: fixed;
  z-index: 9999;
}

.top { top: 0; left: 0;}
.right { top: 0; right: 0;}
.bottom { bottom: 0; left: 0;}
.left { top: 0; left: 0;}

/* ------------------------------------------------------ */
/* ----------------- MAIN TYPOGRAPHY -------------------- */
/* ------------------------------------------------------ */

h1, h2, h3, h4, h5 {
  color: #3A3A3C;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
}

h1 {
  font-size: 118px;
  letter-spacing: 10px;
  text-shadow: -2px 2px 0 #F1F2F2, -4px 4px 0 #3A3A3C;
}

h2 {
  font-size: 44px;
  line-height: 1;
  letter-spacing: 1px;
  margin: 79px 0 46px 0;
  text-shadow: -1px 1px 0 #F1F2F2, -3px 3px 0 rgb(179, 179, 179);
}

.white {
  color: #F3F3F4;
  text-shadow: -2px 2px 0 rgb(40,40,40), -3px 3px 0 rgba(255,255,255,.2);
  margin: -18px 0 63px 0;
}

h3 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 1px;
  line-height: 0;
  text-align: center;
  text-transform: uppercase;
}

h4 {
  font: {
    size: 44px;
    weight: 400;
  }
  text-transform: lowercase;
  letter-spacing: 5px;
}

h5 {
  font-weight: 700;
  font-size: 28px;
  text-align: left;
  margin: 0 0 10px 0;

  span {
    font-weight: 400;
    color: rgb(102,102,102);
  }
}

strong {
  font-weight: 700;
  color: rgb(40,40,40);
  text-shadow: none;
}

p {
  font: {
      family: 'Libre Baskerville', serif;
      weight: 400;
      size: 12px;
  }
  color: rgb(40,40,40);
  line-height: 18px;
  margin: 0;
  display: inline-block;
}

/* ------------------------------------------------------ */
/* ------------------ END TYPOGRAPHY -------------------- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* ------------------ MAIN CONTAINERS ------------------- */
/* ------------------------------------------------------ */

.wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
}

.main {
  max-width: 990px;
  width: 95%;
  margin: 0 auto;
  padding: 0;
}

header {
  width: 100%;
  padding: 20% 0 15% 0;
  -webkit-animation-name: header;
  -webkit-animation-duration: .5s;

  img {
    width: 100%;
    max-width: 1200px;
    height: auto;
  }
}

@-webkit-keyframes header {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: .25;
  }
  82.5% {
    -webkit-transform: scale(1.13);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}

.cbs-hero {
  padding: 0;
  margin: 0;
  margin-bottom: 100px;

  img {
    width: 100%;
    height: auto;
  }
}

a {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: rgb(175,175,175);
  text-decoration: none;

  &:hover {
    color: rgb(40,40,40);
  }
}

.left-quote, .right-quote {
   width: 100%;
   display: inline-block;
   margin-bottom: 45px;

   img {
    max-width: 156px;
    width: 20%;
    height: auto;
    display: inline-block;
   }

   p {
    width: 42%;
    font-size: 16px;
    line-height: 1.3;
   }
}


.left-quote {
  text-align: left;

  img {
    margin-right: 25px;

    &.lauren {
      margin-bottom: -35px;
    }

    &.kris {
      margin-bottom: -39px;
    }
  }
}

.right-quote {
  text-align: right;

  img {
    margin-left: 25px;

    &.lee {
      margin-bottom: -53px;
    }

    &.relevant {
      margin-bottom: -49px;
    }
  }
}

.no-bleed {
  width: 100%;
  margin-top: 50px;
  padding: 63px 0 49px 0;
  background-color: rgb(40, 40, 40);
}

.booking-section {
  width: 100%;

}

/* ------------------------------------------------------ */
/* -------------- END MAIN CONTAINERS ------------------- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* ------------------- BIO SECTION ---------------------- */
/* ------------------------------------------------------ */

.bio {
  width: 100%;
  margin: 0 auto;
}

.bio img {
  float: left;
  margin-right: 25px;
  max-width: 411px;
  width: 32%;
  border: 4px solid white;
}

.bio p {
  max-width: 630px;
  width: 63%;
}

/* ------------------------------------------------------ */
/* --------------- END BIO SECTION ---------------------- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* ------------------ BOOKING BUTTON -------------------- */
/* ------------------------------------------------------ */

.booking-button {
  width: 75%;
  margin: 75px auto;
  text-align: center;
  padding: 30px 0;
  background: #edf0f2;
  border: 4px solid white;
  box-shadow: 0px 0px 8px rgba(0,0,0,.5);
  border-radius: 1px;
  -webkit-transition: .1s all ease;
}

.booking-button:hover {
  background-color: white;

  a { 
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 42px;
    font-weight: 700;
    color: #2a3d5d;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    text-decoration: none;
    text-transform: uppercase;
  }
}

/* ------------------------------------------------------ */
/* ----------------- END BOOKING BUTTON ----------------- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* ------------------ BOOKING SECTION ------------------- */
/* ------------------------------------------------------ */

.or {
  width: 100%;
  padding: 10px 0;
  border-top: 1px dotted rgba(255,255,255,.2);
  border-bottom: 1px dotted rgba(255,255,255,.2);
  text-align: center;
  margin: -41px 0 44px 0;
  line-height: 1;
  color: rgba(255,255,255,.2);
  font: {
      family: serif;
      weight: 400;
      style: italic;
      size: 28px;
  }
}

.email {
  width: 100%;
  text-align: center;
  margin: 0;

  h4 {
    margin: -9px 0px 26px 0px;
  }
}

.email:hover {

  opacity: .95;

  h4 {
    text-shadow: none;
  }
}

.ss-send, .ss-mail, .ss-phone {
  font-size: 25px;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
}

.ss-phone {
  margin: -55px 0 61px 0;
}

/* ------------------------------------------------------ */
/* --------------- END BOOKING SECTION ------------------ */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* ---------- DISCOGRAPHY & BOOKS SECTION --------------- */
/* ------------------------------------------------------ */

ul {
  list-style: none;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  width: 45%;
  margin: 20px 5% 20px 0;
  text-align: left;
}

.year {
  font: {
    family: 'PT Sans', sans-serif;
    weight: 400;
    style: italic;
    size: 10px;
  }
  color: #CCC;
  display: inline;
}
  
li {
  list-style: none;
  padding-bottom: 70px;
  color: rgb(230, 230, 230);
  display: block;

  &.oj-book {
    padding-bottom: 116px;
  }

  img {
    float: left;
    width: 130px;
    margin: 0 2% 0 0;
    padding: 0;
  }

  p {
    width: 65%;
  }
}

/* ------------------------------------------------------ */
/* ---------- END DISCOGRAPHY & BOOKS SECTION ----------- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* -------------------- AVAILABLE AT -------------------- */
/* ------------------------------------------------------ */

.stores {
  width: 100%;

  img {
    width: 19%;
    max-width: 195px;
    height: auto;
    margin: 0px 2px 20px 0;
    display: inline-block;
    text-align: center;
    border-right: 1px solid white;
    
    &.omega {
      border-right: none;
      margin-right: 0;
    }
  }

  a {
    background-color: none;
  }

  a:hover {
    background-color: rgba(0,0,0,.15);
  }

}

/* ------------------------------------------------------ */
/* ------------------ END AVAILABLE AT ------------------ */
/* ------------------------------------------------------ */


hr {
  width: 100%;
  margin: 50px auto;
  height: 3px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: none;
  border-right: none;
  background-color: none;

  &.behind-text {
    margin: -20px 0 0 0;
  }
}

/* ------------------------------------------------------ */
/* -------------------- MEDIA QUERIES ------------------- */
/* ------------------------------------------------------ */
 
  /* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 850px) {

    ul {
      width: 90%; 
      display: block;
      margin: 20px 5%;

      &.books {
        
        li {
          height: auto;
          padding-bottom: 115px;

          &.oj-book {
            padding-bottom: 115px;
          }

          &.hthbook {
            border-bottom: none;
          }
        }
      }
    }

    li {
      border-bottom: 1px white solid;
      margin-bottom: 5%; 

      &.tycswyh {
        border-bottom: 1px white solid;
        padding-bottom: 12%;
      }

      &.hthcd {
        border-bottom: none;
      }
    }
    
  }
 
  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 942px) {

    
    
  }
 
  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {

    h2 {
      font-size: 35px;
      margin: 5% auto;
    }
    
    /* ------------------------------------------------------ */
    /* ------------------- BIO SECTION ---------------------- */
    /* ------------------------------------------------------ */

    .bio img {
      float: none;
      width: 90%;
      margin: 0 auto;
      display: block;
    }

    .bio p {
      width: 69%;
      text-align: justify;
      margin: 25px 15%;
      padding: 0;
    }

    /* ------------------------------------------------------ */
    /* --------------- END BIO SECTION ---------------------- */
    /* ------------------------------------------------------ */
    
  }
 
  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {}
 
  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {

    header {
      margin: 100px auto 220px auto;
    }

    h1 {
      font-size: 30px;
    }

    h2 {
      font-size: 26px;
      margin: 5% 0 8% 0;
      text-shadow: -1px 1px 0 #F1F2F2, -2px 2px 0 rgb(179, 179, 179);
    }

    h4 {
      font-size: 25px;
    }

    .white {
      text-shadow: -2px 2px 0 rgb(40,40,40), -2px 2px 0 rgba(255,255,255,.2);
      margin-top: 2%;
    }

    h5 {
      font-size: 18px;
      text-align: center;
    }

    .or {
      font-size: 14px;
      margin: 0 auto;
    }

    .ss-send, .ss-phone {
      display: none;
    }

    .cbs-hero {
      margin-bottom: 5%;
    }

    .bio p {
      text-align: left;
    }

    ul {
      text-align: center;

      li {
        padding-bottom: 3%;

        img {
          float: none;
          margin: 0 auto;
          display: block;
          padding-bottom: 3%;
        }
      }

      &.books {
        li {
          height: auto;
          padding-bottom: 8%;

          &.oj-book {
            padding-bottom: 8%;
          }
        }
      }
    }

    .year {
      display: block;
      text-align: center;
    }

    .stores {
      text-align: center;

      img {
        width: 75%;
        margin: 0 auto;
        border-right: none;
        border-bottom: 1px solid white;
      }

      a:hover {
        background-color: none;
      }
    }

  }